html {
    background-image: url("https://cdn.unifiedcommerce.com/content/product/large/079346033621.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    color: whitesmoke;
    text-align: center;
}

.title {
    color: black;
    font-size: 60px;
}